.vote-btn {
  width: 100%;
  height: 50%;
}

.btn-giovanni {
  background-color: #333333 !important;
  border-color: #333333 !important;
}

.white-text {
  color: #949495;
}
/* NESTED DROPDOWN */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
/* NESTED DROPDOWN */
